/* SEÇÃO BLOG ******************************************************************************** */

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: var(--cor-azul);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: .5rem;
    border-radius: 0.8rem;
    color: #e2dfd8;
}

.carousel-item h3{
    font-size: 2rem;
    margin: 2rem auto;
    text-transform: uppercase;
    text-align: center;
}

.carousel-item :is(img, iframe) {
    margin-bottom: 2rem;
    margin-left: auto;
    max-width: 100%;
    height: auto;
    border-radius: .8rem .8rem 0 0;
    
}
.carousel-item p{
    font-size: 1.5rem;
    text-indent: 1rem;
    line-height: 1.5;
    padding: 2rem;

}


.carousel-item a{
    color: var(--cor-dourada);
    font-size:1.4rem ;
    font-weight: 600;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--cor-dourada);
    color: var(--cor-azul);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-weight: 700;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

#newsletter{
    margin: 5rem auto 0 auto;
    text-align: center;
    padding: 2rem;
    width: 50%;
    border: .3rem solid var(--cor-azul);
    box-shadow: 0 .2rem .4rem 0 var(--cor-dourada);
    border-radius: 20px;
}

@media (min-width: 768px){
    #blog{
        margin-top: 7rem;
    }
    
    
    .carousel-item{
        padding: 5rem;
        margin: 1.5rem;
        /* margin-top: 15px;
        margin-left: auto;
        margin-right: auto;  */
        box-shadow: 0 8px 16px 0;
        /* width: 500px;
        border-radius: 20px; */
        
    }
    
    .carousel-item h3{
        font-size: 1.2em;
        margin-bottom: 15px;
        
    }
    
    .carousel-item :is(img, iframe) {
        margin-bottom: 15px;
        margin-left: 40px;
        
    }
    
    
    .carousel-item a{
      
        font-size:2rem ;
        
    }
    
    
    /* NEWSLETTER */
    
    #newsletter{
        margin: 50px auto 0 auto;
        text-align: center;
        padding: 20px;
        width: 50%;
        border: 3px solid var(--cor-azul);
        box-shadow: 0 4px 8px 0 var(--cor-dourada);
        border-radius: 20px;
    }
    #newsletter label{
        font-weight: 700;
        margin-right: 10px;
        font-size: 1.1em;
    }
    
    #newsletter input{
        margin-right: 10px;
        padding: 12px;
        font-size: 1.09em;
    }
    
    #newsletter button{
        padding: 12px;
        font-weight: 700;
        background-color: var(--cor-dourada);
        font-size: 1.1em;
    }
}



