/* SEÇÃO BLOG ******************************************************************************** */
#blog{
    margin-top: 2rem;
}

.italico{
    font-style: italic;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: fit-content;
    padding: 2rem;
    text-align: center;
    background-color: var(--cor-azul);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    margin: 1.5rem;
    border-radius: 0.8rem;
    color: var(--cor-branca);
    box-shadow: 1px 1px 5px 2px var(--cor-dourada);
}

.carousel-item h3{
    font-size: 2rem;
    margin: 2rem auto;
    text-transform: uppercase;
    text-align: center;
}

.carousel-item :is(img, iframe) {
    margin-bottom: 2rem;
    margin-left: auto;
    max-width: 100%;
    height: auto;
    border-radius: .8rem .8rem 0 0;
    
}
.carousel-item p{
    font-size: 1.5rem;
    text-indent: 1rem;
    line-height: 1.5;
    padding: 2rem;

}


.carousel-item a{
    color: var(--cor-dourada);
    font-size:1.4rem ;
    font-weight: 600;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent; 
    color: var(--cor-dourada);
    font-size: 3rem;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-weight: 700;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

/* NEWSLETTER *************************************** */
#newsletter{
    margin: 2rem auto 0 auto;
    text-align: center;
    padding: 2rem;
    width: 65%;
    border: .3rem solid var(--cor-azul);
    box-shadow: 0 .2rem .4rem 0 var(--cor-dourada);
    border-radius: 2rem;
}

#newsletter label{
    font-weight: 700;
    margin: auto;
    font-size: 1.5rem;
}

#newsletter input{
    margin: 1.5rem auto;
    padding: 1rem;
    font-size: 1.4rem;
}

#newsletter button{
    padding: 1.2rem;
    font-weight: 700;
    background-color: var(--cor-dourada);
    font-size: 1.4rem;
    color: var(--cor-azul);
    border-radius: 3%;
}

@media (min-width: 768px){
    #blog{
        margin-top: 7rem;
        
    }
     
    .carousel-item{
        padding: 5rem;
        margin: 10rem;
        box-shadow: 0 8px 16px 0;   
    }
    
    .carousel-item h3{ 
        font-size: 3rem;
        margin-bottom: 3rem;
    }
    
    .carousel-item :is(img, iframe) {
        width: 420px;
        height: 320px;
        margin-bottom: 2rem;
        margin-left: auto;
        box-shadow: 1px 1px 5px 2px var(--cor-dourada);
        
    }
    
    .carousel-item p{
        font-size: 2.25rem;
        text-indent: 1.55rem;
    }

    .carousel-item a{
      
        font-size:2.25rem ;
        
    }

    .carousel-control {
        font-size: 4rem;
    }
    
    .carousel-control.prev{
        left: 10.5rem;
    }
    .carousel-control.next{
        right: 10.5rem;
    }
    
    /* NEWSLETTER */
    
    #newsletter{
        margin: 5rem auto 0 auto;
        text-align: center;
        padding: 2rem;
        width: 50%;
        border: .3rem solid var(--cor-azul);
        box-shadow: 0 4px 8px 0 var(--cor-dourada);
        border-radius: 2rem;
    }

    #newsletter label{
       font-size: 2.2rem;
       margin-right: 1.2rem;
    }

    #newsletter input{
        
        padding: 1rem;
        font-size: 2rem;
    }
    
    #newsletter button{
        padding: 1.5rem;
        font-weight: 700;
        background-color: var(--cor-dourada);
        font-size: 2.5rem;
    }
    
    
}



