*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --cor-dourada :#daa520; 
    --cor-azul: #3A4259;
}


body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    
}

a{
    text-decoration: none;
}

@font-face {
    font-family: Apricots;
    src: url(../fonte/Apricot\ Regular.ttf);
}


p{
    text-align: justify;
}

label{
    font-weight: 700;
}

/* MEDIA QUERIES ************************************ */
@media (min-width: 1024px) {
   
    p{
        font-size: 1.1em;
        text-indent: 1em;
        line-height: 1.5;
    }
    
    
    
    label{
        margin-right: .1rem;
        font-size: 1.1rem;
    }
    
}


