*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 42%;
    --cor-dourada :#daa520; 
    --cor-azul: #3A4259;
    --cor-branca: #e2dfd8;
}


body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    
}

a{
    text-decoration: none;
}

@font-face {
    font-family: Apricots;
    src: url(../fonte/Apricot\ Regular.ttf);
}


p{
    text-align: justify;
}

label{
    font-weight: 700;
}


@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
  }
  
  .pulse {
    animation: pulse 1s infinite;
  }
  
  /* MEDIAS QUERIES *************************************************************************** */
  @media (min-width: 576px) {
    :root {
        font-size: 46%;
    }
    
}

@media (min-width: 768px) {
    :root {
        font-size: 50%;
    }
    
}

@media (min-width: 992px) {
    :root {
        font-size: 54%;
    }
    
}

@media (min-width: 1200px) {
    :root {
        font-size: 62.5%;
    }
    
   
}