/* SEÇÃO RESERVE **************************************************************************/
#reserve{
    background-image: linear-gradient(to bottom, var(--cor-azul), var(--cor-branca));
    
    width: 100%;
}

fieldset{
    border: none;
}

/* ****************************FORMULARIO */

form{
    margin: 3rem auto;
    width: 90%;
    text-align: center;
    color: black;   
}

form h3{
    padding-top: 3rem;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--cor-branca);
    /* text-shadow: 2px 1px #daa520; */
}

form label{
    font-size: 1.5rem;
    text-transform: uppercase;
    /* text-shadow: 2px 1px #daa520; */
}

form input, textarea{
    margin-top: 1.5rem;
    width: 80%;
    padding: 1.2rem;
    font-size: 1.75rem;
}

#enviar{
    background-color: var(--cor-dourada);
    color: var(--cor-azul);
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
}

#enviar:hover{
    background-color: var(--cor-azul);
    color: var(--cor-dourada);
    transform: scale(1.1);
}

/* *********************CONTATOS */
.contato{
    margin-top: 3rem;
    
}
.contato #contatos, .contato iframe{
    margin: 3rem 8rem 0 8rem;
    box-shadow: 0 4px 8px 0;
    /* margin-right: 7.5rem; */
}

.contato #contatos{
    padding: 3.5rem;
    border-radius: 1rem;
}

.contato #contatos p, #contatos a{
    color: var(--cor-branca);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contato i{
    margin-right: 1.5rem;
    font-size: 2rem;
}

.contato iframe{
    margin-bottom: 5.5rem;
    border-radius: 1rem;
    
}


.redes-icone{
    color: var(--cor-dourada);
}

@media (min-width: 768px){
    #reserve{
        display: flex;
        flex-direction: row;
    }
    form{
        /* float: left; */
        margin-left: 3rem;
        margin-top: 3rem;
        margin-bottom: 5rem;
        width: 40%;
        color: black;   
    }
    
    form h3{
        /* margin-top: 5rem; */
        font-size: 3rem;
        /* margin-bottom: 2rem; */
        font-weight: 600;
    }

    form label{
        font-size: 2.2rem;
    }

    #enviar{
        font-size: 2.5rem;
    }

    /* CONTATOS ************************************** */
    .contato{
        float: right;
    }
    
}