/* CABEÇALHO ******************************************************/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(58, 66, 89, 0.88);
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100%;
}

header nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
header nav ul li{
    display: inline;
    margin-right: 20px;
}

header nav a{
    color: #daa520;
    font-size: 1.5em;
    font-weight: 700;
}
header img{
    margin-left: 15px;
    margin-top: 10px;
}
.btn-group{
    margin-right: 15px;
}
.btn-group button{
    padding: 15px;
    font-size: 1.09em;
    background-color: #daa520;
    
    opacity: 0.8;
    color: #3A4259;
    margin-left: 15px;
    border:none;
    border-radius: 2px;
}

.btn-group button:hover{
    transform: scale(1.1);
}


/* MAIN ********************************* */
main{
    margin-top: 70px;
}


/* Seção Inicial ***********************************************************************/
#home{
    margin-top: 83px;
    text-align: center;
    background-image: url(../img/fundo.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}
#home h2{
    font-size: 3em;
    font-weight: 400;
    color: #daa520;
    text-shadow: 2px 2px black;
}

#chamada button{
    padding: 30px;
    margin-left: 30px;
    background-color: #3A4259;
    border-radius: 30%;
}

#chamada button a{
    color: #daa520;
    font-size: 4em;
    text-transform: uppercase;
    font-weight: 700;
}


#chamada button:hover{
    background-color: #daa520;
    transform: scale(1.1);
    color: #3A4259;
}

#chamada button a:hover{
    color: #3A4259; 
}
/* SEÇÃO SOBRE********************************************************************************/

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

#sobre .container{
    background-color: #3A4259;
}

#sobre .container .item-1, .item-2{ 
   width: 50%;
   margin-top: 30px;
   padding: 50px;
}

#sobre .container .item-1{
    margin: 120px 50px 0 30px;
    color: #e2dfd8;
}

#sobre .container .item-1 h2{
    font-size: 2em;
    margin-bottom: 10px;
}


#caixa{
    text-align: center;
    z-index: 9;
    background-color: #e2dfd8;
    width: 75%;
    height: 90%;
    margin-top: 15px;
    box-shadow: 0 4px 8px 0;

}

#caixa h3{
    padding-top: 55px;
    margin-bottom: 20px;
    font-size: 1.5em;
}

#caixa ul{
    list-style: none;    
}

#caixa ul li{
    padding: 7.7px;
    font-size: 1.2em;
}


/* SEÇÃO BLOG ******************************************************************************** */
#blog{
    margin-top: 70px;
}

#blog container{
    width: 100%;
    
}
.item-artigo{
    padding: 50px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #3A4259;
    box-shadow: 0 8px 16px 0;
    width: 500px;
    border-radius: 20px;
    color: #e2dfd8;
}

.item-artigo h3{
    font-size: 1.2em;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-align: center;
}

.item-artigo img, .item-artigo iframe{
    margin-bottom: 15px;
    margin-left: 40px;
    
}

.item-artigo iframe{
    border-radius: 10%;
}

.item-artigo a{
    color: #daa520;
    font-size:1.1em ;
    font-weight: 600;
}


/* NEWSLETTER */

#newsletter{
    margin:50px auto 0 auto;
    text-align: center;
    padding: 20px;
    width: 50%;
    border: 3px solid #3A4259;
    box-shadow: 0 4px 8px 0 #daa520;
    border-radius: 20px;
}
#newsletter label{
    font-weight: 700;
    margin-right: 10px;
    font-size: 1.1em;
}

#newsletter input{
    margin-right: 10px;
    padding: 12px;
    font-size: 1.09em;
}

#newsletter button{
    padding: 12px;
    font-weight: 700;
    background-color: #daa520;
    font-size: 1.1em;
}




/* SEÇÃO RESERVE **************************************************************************/
#reserve{
    margin-top: 70px;
    background-image: linear-gradient(to bottom, #3A4259, #e2dfd8);
    
    width: 100%;
}

/* ****************************FORMULARIO */
fieldset{
    border: none;
}

form{
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 40%;
    text-align: center;
    color: black;   
}

form h3{
    margin-top: 50px;
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: 600;
    /* text-shadow: 2px 1px #daa520; */
}

form label{
    font-size: 1.3em;
    text-transform: uppercase;
    /* text-shadow: 2px 1px #daa520; */
}

form input, textarea{
    margin-top: 15px;
    width: 80%;
    padding: 12px;
}

#enviar{
    background-color: #daa520;
    color: #3A4259;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 700;
}

#enviar:hover{
    background-color: #3A4259;
    color: #daa520;
    transform: scale(1.1);
}

/* *********************CONTATOS */
.contato{
    margin-top: 30px;
    float: right;
}
.contato #contatos, .contato iframe{
    margin-top: 30px;
    box-shadow: 0 4px 8px 0;
    margin-right: 75px;
}

.contato #contatos{
    padding: 35px;
    border-radius: 10px;
}

.contato #contatos p, #contatos a{
    color: #e2dfd8;
    font-size: 1.2em;
}

.contato i{
    margin-right: 15px;
    font-size: 1.1em;
}

.contato iframe{
    margin-bottom: 55px;
    border-radius: 10px;
    
}


.redes-icone{
    color: #daa520;
}

/* RODAPÉ****************************************************************************** */
footer{
    background-color: #3A4259;
    padding: 50px;
}

#container-rodape{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    margin-bottom: 50px;
    justify-content: space-between;
    align-items: start;
}

#container-rodape h2{
    color: #daa520;
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom:10px;
}
#referencias{
    padding: 0 33px;
}

#referencias li, #referencias li a{
    color: #e2dfd8;
    line-height: 2em;
}

#referencias li a{
    font-weight: 600;
}

#redes-sociais{
    justify-self: center;
    margin-left: 30px;
    text-align: center;
}

#redes-sociais a{
    font-size: 2.2em;
    margin-right: 30px;
    
}

#container-rodape #logo{
    justify-self: right;
}

footer #desenvolvido{
    color: #daa520;
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
}

#size{
    font-size: 2em;
}