
/* SEÇÃO RESERVE **************************************************************************/
#reserve{
    margin-top: 70px;
    background-image: linear-gradient(to bottom, #3A4259, #e2dfd8);
    
    width: 100%;
}

/* ****************************FORMULARIO */
fieldset{
    border: none;
}

form{
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 40%;
    text-align: center;
    color: black;   
}

form h3{
    margin-top: 50px;
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: 600;
    /* text-shadow: 2px 1px #daa520; */
}

form label{
    font-size: 1.3em;
    text-transform: uppercase;
    /* text-shadow: 2px 1px #daa520; */
}

form input, textarea{
    margin-top: 15px;
    width: 80%;
    padding: 12px;
}

#enviar{
    background-color: #daa520;
    color: #3A4259;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 700;
}

#enviar:hover{
    background-color: #3A4259;
    color: #daa520;
    transform: scale(1.1);
}

/* *********************CONTATOS */
.contato{
    margin-top: 30px;
    float: right;
}
.contato #contatos, .contato iframe{
    margin-top: 30px;
    box-shadow: 0 4px 8px 0;
    margin-right: 75px;
}

.contato #contatos{
    padding: 35px;
    border-radius: 10px;
}

.contato #contatos p, #contatos a{
    color: #e2dfd8;
    font-size: 1.2em;
}

.contato i{
    margin-right: 15px;
    font-size: 1.1em;
}

.contato iframe{
    margin-bottom: 55px;
    border-radius: 10px;
    
}


.redes-icone{
    color: #daa520;
}

/* RODAPÉ****************************************************************************** */
footer{
    background-color: #3A4259;
    padding: 50px;
}

#container-rodape{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    margin-bottom: 50px;
    justify-content: space-between;
    align-items: start;
}

#container-rodape h2{
    color: #daa520;
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom:10px;
}
#referencias{
    padding: 0 33px;
}

#referencias li, #referencias li a{
    color: #e2dfd8;
    line-height: 2em;
}

#referencias li a{
    font-weight: 600;
}

#redes-sociais{
    justify-self: center;
    margin-left: 30px;
    text-align: center;
}

#redes-sociais a{
    font-size: 2.2em;
    margin-right: 30px;
    
}

#container-rodape #logo{
    justify-self: right;
}

footer #desenvolvido{
    color: #daa520;
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
}

#size{
    font-size: 2em;
}